<div class="container">

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 py-3 g-3">

    <app-settings (submit)=onSettingsSubmit($event)></app-settings>
    <app-summary [stats]="stats"></app-summary>

  </div>

  <div class="py-3">
    <h3 *ngIf="events" class="text-secondary">By events </h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
      <div *ngFor="let event of events | keyvalue : withoutComparison; let i = index">
        <app-event [event]="event" [index]="i + 1"></app-event>
      </div>
    </div>
  </div>

  <div class="py-3">
    <h3 *ngIf="categories" class="text-secondary">By categories </h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
      <div *ngFor="let category of categories | keyvalue : withoutComparison">
        <app-category [category]="category"></app-category>
      </div>
    </div>
  </div>
</div>
