<header class="p-3 text-bg-dark bg-gradient">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none logo">Stay focused</a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
<!--        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>-->
<!--        <li><a href="#" class="nav-link px-2 text-white">Stats</a></li>-->
      </ul>

      <div class="d-flex">
        <p *ngIf="isAuthenticated" class="d-flex align-items-center mb-lg-0 text-white text-decoration-none px-2 username me-2">{{getFullName()}}</p>
        <button *ngIf="!isAuthenticated" (click)="authService.handleAuth()" class="btn btn-warning">Sign-up</button>
        <button *ngIf="isAuthenticated" (click)="authService.handleSignOut()" class="btn btn-outline-warning">Sign Out
        </button>
      </div>
    </div>
  </div>
</header>
